* {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  color: #666565;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.metronomo {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  justify-content: space-between;
}

.bpm-display {
  width: 100%;
  text-align: center;
  color: #fa545c;
  font-weight: bold;
}

.bpm-display .tempo {
  font-size: 4em;
}



.tempo-settings {
  display: flex;
  justify-content: space-around;
}

.tempo-settings .adjust-tempo-btn {
  width: 30px;
  height: 30px;
  font-size: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
  background-color: #fa545c;
  color: #fff;

}

.tempo-settings .decrease-tempo {
  line-height: 27px;
}

.tempo-settings .increase-tempo {
  line-height: 28px;
}



/*chat gpt*/
.slider {
  /* Define a largura do controle deslizante */
  width: 60%;
  /* Adiciona uma altura e margens para espaçamento visual */
  height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Define a aparência do controle deslizante */
  appearance: none;
  /* Remove a aparência padrão do navegador */
  appearance: none;
  /* Estiliza a barra do controle deslizante */
  background: #f0b7ba;
  /* Cor de fundo */
  border-radius: 10px;

  /* Borda arredondada */
  /* Estiliza o controle deslizante (a alça) */
}





.start-stop {
  width: 50px;
  height: 50px;
  font-size: 0.8em;
  text-align: center;
  background-color: #fa545c;
  border-radius: 50%;
  color: #fff;
  line-height: 52px;
  margin: 0 auto;
  cursor: pointer;
}

.start-stop:hover {
  background-color: #fa656c;
}

.measures {
  display: flex;
  justify-content: center;
}

.measures .stepper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
}


.measures .stepper:hover {
  background-color: #fa656c;
  color: #fff;

}

.measures .add-beats {
  line-height: 20px;
}

.beats-per-measure-text {
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
}